body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-bar {
    position: fixed;
    top: 0;
    width: 98%;
    height: 40px;
    background-color: #3c4a58;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 0px;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
  
.progress {
    font-weight: bold;
}
  
.icon {
    font-size: 18px;
}
  
.username {
    font-style: italic;
}
.h1s{
    margin-top: 10%;
    color: #333;
}
.undcla1{
    margin-top: 50px;
    font-size: 20px;
    min-width: 200px;
    max-width: 600px;
    border: blue solid 1px;
}
.undcla{
    font-size: 10px;
}
#settings{
    position: fixed;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background-color: grey;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition-duration: 2s;
}
#fullyopen{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 95%;
    top: 50%;
}