body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-bar {
    position: fixed;
    top: 0;
    width: 98%;
    height: 40px;
    background-color: #3c4a58;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 0px;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
  
.progress {
    font-weight: bold;
}
  
.icon {
    font-size: 18px;
}
  
.username {
    font-style: italic;
}
.h1s{
    margin-top: 10%;
    color: #333;
}
.undcla1{
    margin-top: 50px;
    font-size: 20px;
    min-width: 200px;
    max-width: 600px;
    border: blue solid 1px;
}
.undcla{
    font-size: 10px;
}
#settings{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: grey;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition-duration: 2s;
}
#fullyopen{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 95%;
    top: 50%;
    user-select: none;
}
.titlecard {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.regioncard {
  font-weight: bold;
  color: white;
  background-color: blue;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 6px;
}

.cardplace {
  font-size: 0.95rem;
  margin-bottom: 10px;
  color: #333;
}
.card {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  vertical-align: top;
  width: 300px;
  min-height: 120px;
}